<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pré-Cadastro Solar</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/registrosolar.css') }}" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                {% if current_user.perfil == 'root' %}
                        <a class="nav-link" href="{{ url_for('lista_arquivos') }}">Pagina Inicial</a>
                {% endif %}
                {% if current_user.perfil == 'admin' or current_user.perfil == 'root' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}">Cadastrar Usuário</a>
                    </li>
                {% endif %}
                {% if current_user.perfil == 'root' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('lista_usuarios') }}">Remover Usuário</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    {% if current_user.perfil == 'admin' %}
                        <a class="nav-link" href="{{ url_for('lista_netshot') }}">Lista NetShot</a>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('trocar_senha') }}">Trocar Senha</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<body>

    <div class="exporte">
        <h2>Exportar Dados</h2>
        <form id="form1" action="{{ url_for('download_precadastro') }}" method="post">
            <label for="filtro">Filtro:</label>
                    <select name="filtro" id="filtro" required>
                        <option value="diario">Dia</option>
                        <option value="Semanal">Semanal</option>
                        <option value="mensal">Mensal</option>
                    </select> 

            <button type="submit">Baixar</button>
        </form>
    
    </div>
    
    <div class="container">
        <h2>Pré-Cadastro Solar</h2>
        <form id="form" action="{{ url_for('registro_solar') }}" method="post">
            <label>Código de Localidade:</label>
            <input type="text" name="codigo_localidade" id="codigo_localidade" required>

            <label>IP:</label>
            <input type="text" name="ip" id="ip" required>
            <span class="error"  id="ipError">IP Inválido. Deve conter pelo menos 3 "."</span>

            <label>CNPJ:</label>
            <input type="text" name="cnpj" id="cnpj" required>

            <label>Nome do Cliente:</label>
            <input type="text" name="nome_cliente" id="nome_cliente" required>

            <label>Community SNMP:</label>
            <input type="text" name="community_snmp" id="community_snmp" required>

            <label>Número da LP`:</label>
            <input type="text" name="numero_lp" id="numero_lp" required>
            <span class="error" id="lpError">Número da LP deve ter pelo menos 15 caracteres.</span>

            <label>Operação:</label>
            <input type="text" name="operacao" id="operacao" required>

            <button type="submit">Enviar</button>
        </form>

        <!-- Modal de Confirmação -->
        <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Cadastro Enviado!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Os dados foram enviados com sucesso.
                    </div>
                </div>
            </div>
        </div>
                
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>